<div class="awe">
  <h2 class="jumbo text text-center">Evance Barracks</h2>
  <p> My Journey and love for Code is mainly hinged on the power that Code gives man. Code enables man to create
    powerful things and applications<br></p>
  <p>I cannot believe that at one point I may have underestimated the beauty that is Code.</p>
  <p>Code has now become that irreplaceable pocket Bible and Bootstrap has become the song of hearts</p>
</div>


<nav class="navbar navbar-light bg-light offset-4">
  <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search"
        [formControl]="search">
      <button class="btn btn-outline-success" (click)="onFindDev()" type="button">FindDev</button>
    </form>
  </div>
</nav>


<div class="fluidity">
  <app-profile [profileData]="result"></app-profile>
</div>